<!-- <div class="row row-cols-1 row-cols-md-3 g-4">-->
    <div class="col-4" style="width: 100%;"> 
        <div class="card">
            <img src="{{product.image}}" class="card-img-top" height="200" width="80" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{product.description}}</p>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2">
                    <button class="btn btn btn-success" (click)="addToCart(product)" type="button">Add To Cart</button>
                    <button class="btn btn btn-warning" type="button">View Product</button>
                  </div>
              </div>
            
        
        </div>

        
     </div>
    
     
<!--</div> -->