<span>
    {{cartItems$|async|json}}
</span>
<div class="container-fluid">
    <div class="row">
        <aside class="col-lg-9">
            @if ((cartItems$|async)?.length === 0) {
            <div class="card">
                <div class="card-body ">
                    <h2>
                        Your Cart is empty
                    </h2>
                </div>
            </div>
            }@else{
            <div class="card">

                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of cartItems$|async; track $index) {
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="{{item.image}}" class="img-sm">
                                        </div>
                                        <figcaption class="info"> <a href="#" class="title text-dark"
                                                data-abc="true">{{item.description}}</a>
                                            <p class="text-muted small">SIZE: L <br> Brand: MAXTRA</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> 
                                    <div class="d-flex flex-row align-items-center qty"><i class="fa fa-minus text-danger" style="margin-right: 6px;" (click)="decrement(item.id)"></i>
                                        <h5 class="text-grey mt-1 mr-1 ml-1">{{item.quantity}}</h5><i class="fa fa-plus text-success" style="margin-left: 6px;" (click)="increment(item.id)"></i></div>
                                    
                                </td>
                                <td>
                                    <div class="price-wrap"> <var class="price">{{item.price}}</var> <small
                                            class="text-muted">
                                            $9.20 each </small> </div>
                                </td>
                                <td class="text-right d-none d-md-block"> <a data-original-title="Save to Wishlist"
                                        title="" href="" class="btn btn-light" data-toggle="tooltip" data-abc="true"> <i
                                            class="fa fa-heart"></i></a> <a  class="btn btn-light"
                                        data-abc="true" (click)="remove(item.id)"> Remove</a> </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            }
        </aside>
        <aside class="col-lg-3">
            <div class="card mb-3">
                <div class="card-body">
                    <form>
                        <div class="form-group"> <label>Have coupon?</label>
                            <div class="input-group"> <input type="text" class="form-control coupon" name=""
                                    placeholder="Coupon code"> <span class="input-group-append"> <button
                                        class="btn btn-primary btn-apply coupon">Apply</button> </span> </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right ml-3">{{totalPrice$|async|currency}}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Discount:</dt>
                        <dd class="text-right text-danger ml-3">- $10.00</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right text-dark b ml-3"><strong>{{sumTotal$|async|currency}}</strong></dd>
                    </dl>
                    <hr> <a href="#" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase
                    </a> <a class="nav-link" routerLink="/product"
                        class="btn btn-out btn-success btn-square btn-main mt-2" data-abc="true">Continue
                        Shopping</a>
                </div>
            </div>
        </aside>
    </div>
</div>